@page "/"

<div>Expires on: @MsGraphInfo.ExpiresOn</div>
<Mailbox MailboxName="inbox" />

@code
{
	/// <summary>
	/// Logging info.
	/// </summary>
	[CascadingParameter]
	public MsGraphInfo MsGraphInfo { get; set; } = null!;
}
