@page "/mail/{messageId}"
@using Microsoft.Graph
@using Microsoft.Graph.Models
@inherits BaseComponent

@{
	if (_message != null)
	{
		<div style="display: grid; width: 100%; height: 100%; grid-template-rows: auto auto auto 1fr">
			<div>@_message.Subject</div>
			<div>From: @Email(_message.From)</div>
			<div>To: @EmailList(_message.ToRecipients)</div>
			@{
				if (_message.Body?.Content is { } body)
				{
					<MailBodyPreview Body="@body" Width="100%" Height="100%" Zoom="null" />
				}
			}
		</div>
	}
}

@code {
	private Message? _message;

	/// <summary>
	/// Mail id.
	/// </summary>
	[Parameter]
	public string MessageId { get; set; } = null!;

	/// <summary>
	/// Microsoft Graph API Service.
	/// </summary>
	[CascadingParameter]
	public GraphServiceClient GraphServiceClient { get; set; } = null!;

	/// <inheritdoc />
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		if ((GraphServiceClient?)GraphServiceClient is null) ArgumentNullException.ThrowIfNull(GraphServiceClient);
		if ((string?)MessageId is null) ArgumentNullException.ThrowIfNull(MessageId);

		var response = await GraphServiceClient.Me.Messages[MessageId].GetAsync();
		_message = response;
	}
}