@using Microsoft.Graph
@using Microsoft.Graph.Models

<h3 style="text-transform: capitalize">@MailboxId</h3>
@{
	if (_messages != null)
	{
		foreach (var message in _messages)
		{
			<a href="@($"/mail/{message.Id}")">
				<MailPreview Message="message" />
			</a>
		}
	}
	else
	{
		<div>Loading...</div>
	}
}

@code
{
	private IList<Message>? _messages;

	/// <summary>
	/// Mailbox id to show messages.
	/// </summary>
	[Parameter]
	public string MailboxId { get; set; } = null!;

	/// <summary>
	/// Microsoft Graph API Service.
	/// </summary>
	[CascadingParameter]
	public GraphServiceClient GraphServiceClient { get; set; } = null!;

	/// <inheritdoc />
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		if ((GraphServiceClient?)GraphServiceClient is null) ArgumentNullException.ThrowIfNull(GraphServiceClient);
		if ((string?)MailboxId is null) ArgumentNullException.ThrowIfNull(MailboxId);

		var response = await GraphServiceClient.Me.MailFolders[MailboxId].Messages.GetAsync();
		_messages = response?.Value;
	}
}
