@using Microsoft.Graph
@using Microsoft.Graph.Models
@using System.Web
@inherits BaseComponent

<div style="display: grid; grid-template-columns: minmax(0, 3fr) repeat(2, minmax(0, 1fr)); border: solid 1px">
	<div>@Message.Subject</div>
	<div>From: @Email(Message.From)</div>
	<div>To: @EmailList(Message.ToRecipients)</div>
	<div style="grid-column: 1/-1; height: 400px; position: relative">
		@{
			if (Message.Body?.Content is { } body)
			{
				<MailBodyPreview Body="@body" Width="100%" Height="400px" Zoom="0.5" />
			}
		}
	</div>
</div>

@code {
	/// <summary>
	/// Mail to preview.
	/// </summary>
	[Parameter]
	public Message Message { get; set; } = null!;

	/// <summary>
	/// Microsoft Graph API Service.
	/// </summary>
	[CascadingParameter]
	public GraphServiceClient GraphServiceClient { get; set; } = null!;

	/// <inheritdoc />
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		if ((GraphServiceClient?)GraphServiceClient is null) ArgumentNullException.ThrowIfNull(GraphServiceClient);
		if ((Message?)Message is null) ArgumentNullException.ThrowIfNull(Message);
	}
}